name: CI PHP Login

on:
  push:
    branches:
      - C-Master   # branch do seu projeto
  workflow_dispatch:  # permite rodar manualmente

jobs:
  call-reusable-ci:
    uses: Pgabriel2605/php-workflowss/.github/workflows/login.yml@main
    with:
      php-version: '8.2'
    secrets:
      REPO_PAT: ${{ secrets.REPO_PAT }}
